<main class="container" role="main">
<div class="row">
    <div class="col-xs-12">
        <div class="terimakasih">
            <h1>Terimakasih, yay!</h1>
            <p>Berkas anda akan segera kami cetak.</p>
            <p>Hasil cetakan akan ada di lobi FST mulai dari pukul 08.00 pagi.</p>  
        </div>
    </div>
</div>
</main>
{{outlet}}